#include CHANGELOG
include INSTALL
include LICENSE
include MANIFEST.in
include README
include AUTHORS
recursive-include docs *
include cmsplugin_feed/tests/fixtures/*.xml
recursive-include cmsplugin_feed *
