.feed-item-titletop, .feed-item-titleinline{
    color: #005f8f;
    padding-bottom: 15px;
}
.feed-item-titletop{
    clear: left;
    font-weight: normal;
    display: block;
}
.feed-item-description{
    color: #767676;
}
.feed-item-image{
    max-width: 140px !important;
    float: left;
    padding-right: 15px;
}
.feed-item-entry{
    background-color: white;
    padding-bottom: 20px;
}
.feed-item-read-more {
    text-align: right;
}
.feed-item-read-more a {
    font-size: 16px;
    line-height: 22px;
    color: #767676;
}
.feed-item-le479px .feed-item-titleinline /* less or equal */
{
    display: none;
}
.feed-item-le320px .feed-item-image
{
    max-width: 132px;
}

.feed-item-ge480px .feed-item-titletop
{
    display: none;
}
span.feed-item-clear{
    clear: left;
    display: block;
}
